body {
    padding: auto;
    margin: auto;
}

.gabuts {
    background-color: rgb(140, 255, 140);
    padding-left: 10%;
    margin-right: 15%;
    padding-right: 10%;
    margin-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.pemilihan {
    padding-top: 2%;
    margin-right: 15%;
    padding-left: 10%;
    margin-left: 15%;
    padding-right: 10%;
    background-color: bisque;
}